[2020-09-10 16:33] AyazAI opened #3 "Any support for the streaming API."
I am wondering if there is any support yet for the streaming API. Other packages are there but they are outdated. This would be promising to get anything for that.

[2020-09-11 15:55] Silind commented on #3
Currently, it's not supported.
But it's coming up! I'll keep this issue open.

[2020-09-21 01:21] genehack opened #4 "StatusesUpdate() doesn't append params"
...and so it gets rejected by the Twitter API, for lacking the required `status` param.

[2020-09-21 03:54] Silind commented on #4
Ahh! Nice catch, thank you.
Feel free to do a PR 😊

Otherwise, I'll be looking into this shortly.

[2020-09-21 04:00] genehack commented on #4
PR'd as #5!

[2020-09-21 16:10] #4 closed

[2020-09-28 04:03] Silind opened #6 "Store credentials per instance to allow multiple clients."
**Description**
Currently, you can only use a single set of Twitter API Credentials.
It's possible to create multiple instances of the Twitter API Client, but every time a new client is taking credentials (and options) in the constructor, the options are stored globally and will overwrite any previously set credentials (and options).

**Currently**
Once a client is instantiated, the Twitter API Cr

[2020-09-28 04:48] Silind opened #7 "Add v2 endpoints"
The first set of v2 endpoints has been published for early access.
Add them to the twitter-api-spec and generate the clients.

[2020-09-28 19:55] OhNiice opened #8 "Support for OAuth 2.0 Bearer Token"
Could you consider adding support for OAuth 2.0 Bearer Token?

My use case is exactly the one presented in [Twitter's doc](https://developer.twitter.com/en/docs/authentication/oauth-2-0) in which I only need read-only access to pull public information.

Thank you for providing this library.

[2020-09-28 20:38] ChronSyn opened #9 "Add tweet_mode parameter"
**Is your feature request related to a problem? Please describe.**
The `statusesUserTimeline` (and possibly other endpoints) supports a `tweet_mode` parameter. Such value can be `extended` which allows the full text content of the tweet, and it's hashtags, to be returned in the response.

**Describe the solution you'd like**
Update the typings to support the extended response structure, as well as

[2020-09-29 03:09] Silind commented on #8
Hi, @OhNiice
Thanks for creating this issue.

Yes, for sure.
I'll make sure to look back at this :blush:

[2020-09-29 03:11] Silind commented on #9
Hi @ChronSyn
Thank you for creating this issue.

Great, I'll make sure to look into this.
And thank you for providing the sample response :raised_hands:

[2020-09-30 16:37] Silind commented on #9
This task is up for grabs during Hacktoberfest :raised_hands:

If you want to work on this task, please claim it here in the comments.
Feel free to ask any questions here as well :blush:

[2020-09-30 16:38] Silind commented on #6
This task is up for grabs during Hacktoberfest :raised_hands:

If you want to work on this task, please claim it here in the comments.
Feel free to ask any questions here as well :blush:

[2020-10-02 13:18] lcswillems opened #11 "Wrong `UsersShowParams` interface"
The current `UsersShowParams` is wrong:

[code]

It says `user_id` or `screen_name` is required but both are currently required.

[2020-10-02 17:29] Silind commented on #11
Hi @lcswillems
Nice catch - thanks for creating an issue!

Will take care of this asap :+1:

[2020-10-02 17:41] Silind commented on #11
This task is up for grabs during Hacktoberfest :raised_hands:

If you want to work on this task, please claim it here in the comments.
Feel free to ask any questions here as well :blush:

[2020-10-02 20:42] lcswillems commented on #11
@Silind, sorry having been direct in my issue, I was coding and discovered this bug so I quickly filled it.
I would like to thank you a lot for your library! It made me save a lot of time with your typings :)

[2020-10-03 06:05] iliran11 commented on #11
Hey @lcswillems @Silind  . Not sure I understood the bug.
On twitter docs, it says the same thing as in the interface:
https://developer.twitter.com/en/docs/twitter-api/v1/accounts-and-users/follow-search-get-users/api-reference/get-users-show

[code]
Can you elaborate more?

[2020-10-03 07:23] Silind commented on #11
Hi @iliran11
Yeah, so it's an unfortunate occasion because both parameters are flagged as `required` but in the description, it actually says "Either an id or screen_name is required for this method".

So it means that you're supposed to provide either and `id` or a `screen_name` parameter.
But in the `twitter-api-spec.yml`, these are both set to required, which is what the `params` interface is b

[2020-10-03 07:42] Silind commented on #6
Added in v. 1.0.1.
Thanks a lot, @iliran11 :raised_hands:

[2020-10-03 07:42] #6 closed

[2020-10-03 08:20] Silind opened #15 "Split up the twitter-api-spec.yml file"
### Currently
The Twitter API Client is generated based on one single `twitter-api-spec.yml` file which is currently a whopping 3000+ lines long.
It's really cumbersome to scroll around in that file to find what you want.

### Desired
The `twitter-api-spec.yml` file is split up into multiple `.yml` files.
One for each group.

### AC
- The folder `src/spec/` is renamed to `src/specs/` and all refer

[2020-10-03 08:20] Silind commented on #15
This task is up for grabs during Hacktoberfest :raised_hands:

If you want to work on this task, please claim it here in the comments.
Feel free to ask any questions here as well :blush:

[2020-10-03 09:52] iliran11 commented on #11
Got it. I can take it too.
@Silind, can you make me a collaborator so I can open a branch on this repository? Gonna be more convenient than working on a fork.

[2020-10-03 10:17] DipanjanDasIT commented on #15
I am wiling to work on this.

[2020-10-03 12:12] Silind commented on #11
@iliran11 Yes, totally!

[2020-10-03 12:21] Silind commented on #15
Hi @DipanjanDasIT
That sounds awesome! I'll assign you right away :smile:

[2020-10-03 12:47] omnone commented on #9
Hey i would like to give it a try! Can you give me more information about this issue? Thanks

[2020-10-04 05:58] Silind commented on #11
Fixed in v. 1.0.2.

[2020-10-04 05:58] #11 closed

[2020-10-04 06:27] Silind opened #18 "Support semi-required parameters"
**Is your feature request related to a problem? Please describe.**
For multiple endpoints, there is a constraint that either `user_id` or `screen_name` should be provided.
An example can be found in [this bug report](https://github.com/Silind/twitter-api-client/issues/11).

On the Twitter Documentation, both `user_id` and `screen_name` is flagged as `required`, where in fact, only one of them is r

[2020-10-04 13:38] iliran11 commented on #9
Hi,
`tweet_mode` seems to be an undocumented feature of twitter API.
The only place I could find a reference is another related repository:
https://github.com/tweepy/tweepy/issues/1170

Correct me if I'm wrong.

@Silind, Do you think it is a good idea to add this parameter to each endpoint at a time, Or do you want to think of a broader solution?

[2020-10-05 01:02] serdarkaracay opened #19 "Twitter Client Test Error"
**Very quick start test**

twitterApi.js
[code]

**node run command**
```node --experimental-modules twitterApi.js ```

**Errors**
```TypeError: TwitterClient is not a constructor```

```const data = await twitterClient.accountsAndUsers.usersSearch({ q: 'twitterDev' });```
                            ```          ^^^^^ SyntaxError: Unexpected reserved word```

Can you please add a simple test star

[2020-10-05 04:40] Silind commented on #19
Hi @serdarkaracay
Thanks for creating this issue.

Yes, when you are using the `require` syntax, you are importing the entire module.
You need to use the default export, which is the class (constructor function).

[code]

[2020-10-05 05:33] iliran11 commented on #9
Found a reference to `tweet_mode` in twitter docs here:
https://developer.twitter.com/en/docs/twitter-api/tweets/lookup/migrate/standard-to-twitter-api-v2

I could see that when using `tweet_mode='extended'` the field `text` was replaced with `full_text` in the response. While quering `tweets.statusesUserTimeline`

[2020-10-05 11:49] DipanjanDasIT commented on #15
@Silind can we change the spec file format from yaml to RAML?

[2020-10-05 17:20] #19 closed

[2020-10-06 05:37] iliran11 commented on #18
Hi,
I think the suggested syntax is generic and flexible - gives you a room for combination.  But can produce complex interfaces - and that might cost in implementation time.

I have another suggestion for something less generic, and therefore it also conveys what is the specific problem it is going to solve:

[code]

[2020-10-06 05:41] iliran11 commented on #18
Hi,
I think the suggested syntax is generic and flexible - gives you a room for combinations.  But can also produce complex interfaces - and that might cost in implementation time.

I have another less-generic and less-complex suggestion.
The assumption is a field can appear only once in the `one-of-parameters` section:

[code]

[2020-10-06 05:45] iliran11 commented on #15
Can you please stick to YAML format?

[2020-10-06 07:49] Silind commented on #15
Yes, let's stick to YAML format.
The change will be too comprehensive at this moment.

[2020-10-07 09:36] Silind commented on #9
Sorry for the late reply!
Let's look into a more generic approach at a later point.
I think how you handled it in the PR is great for now.

[2020-10-07 18:22] Silind commented on #9
Added in v. 1.0.3

[2020-10-07 18:22] #9 closed

[2020-10-07 20:49] iliran11 opened #23 "Standard search API is not available for usage"
I cannot use this resource `https://api.twitter.com/1.1/search/tweets.json`.
the URL [appear in `twitter-api-spec.yml`](https://github.com/Silind/twitter-api-client/blob/3c39be655c5af5b44b6bc404791f5cf479052820/src/spec/twitter-api-spec.yml#L2856) but doesn't translate into the references or any of the clients.

Am I wrong?

[2020-10-08 04:34] Silind opened #24 "Support DELETE verb"
Currently, only `GET` and `POST` are supported.
There is one endpoint using the `DELETE` verb.
[See here](https://github.com/Silind/twitter-api-client/blob/master/src/spec/twitter-api-spec.yml#L2982)

The endpoint gets bypassed and the client is not created.
[See here](https://github.com/Silind/twitter-api-client/blob/master/src/generator/writeClients.ts#L29)

#### AC
- Support calling the Twitter

[2020-10-08 04:40] Silind commented on #23
No, you're right! Nice catch.
I opened a PR for this. Waiting for your review :slightly_smiling_face:

[2020-10-08 05:48] Silind commented on #23
Fixed in v. 1.0.4

[2020-10-08 05:48] #23 closed

[2020-10-08 13:39] #15 closed

[2020-10-17 14:33] iliran11 commented on #24
Hi @Silind
Did you mean to point [here](https://github.com/Silind/twitter-api-client/blob/master/src/spec/twitter-api-spec.yml#L2982) as the only DELETE endpoint?

Your first link points to ```Search Tweets``` ... Is it just a mistake or am I missing something?

[2020-10-18 08:30] Silind commented on #24
Yes, good point @iliran11.
The spec file has been updated since this issue was created, so it's pointing to the wrong line now.
I'll fix it right away :smile:

[2020-10-18 15:19] iliran11 commented on #24
So I'll take this task if that's OK with you :)

[2020-10-19 13:41] Silind commented on #24
Sounds great :raised_hands:

[2020-11-02 16:25] vasanthdeveloper opened #33 "400 On twitter.accountsAndUsers.accountUpdateProfileBanner()"
**Describe the bug**
As per the documentation of [Twitter](https://developer.twitter.com/en/docs/twitter-api/v1/accounts-and-users/manage-account-settings/api-reference/post-account-update_profile_banner) and `twitter-api-client`, here is the code I've written that should update an account's cover image 👇

[code]

This results in 👇
[code]

and does not update the cover image of the authorized user

[2020-11-02 18:22] Silind commented on #33
Thanks a lot for creating this very detailed issue, @vasanthdeveloper.
We will take a look at this asap!

[2020-11-02 18:29] vasanthdeveloper commented on #33
Thank you, I was actually in urgency as I had to open-source my project before the 8th of November as there's still a lot of work 😀

[2020-11-04 06:37] Silind commented on #24
Included in v. 1.1.0

[2020-11-04 06:37] #24 closed

[2020-11-04 06:39] Silind commented on #8
Support for OAuth 2 is now included.
Take a look at the reference here:
https://github.com/Silind/twitter-api-client/blob/master/REFERENCES.md#twitterclientbasicsoauth2tokenparameters

[2020-11-04 06:39] #8 closed

[2020-11-04 06:42] Silind commented on #18
I think your suggestion is great for more complex scenarios.
Currently, I'm afraid to add further verbosity, since the yml spec files are already quite extensive.

I think a simple conditional statement will cover this use-case for now, and if we see the need for more complex conditional parameters (as the v2 endpoints develop), we will re-address this issue.

What do you think?

[2020-11-06 11:52] vasanthdeveloper commented on #33
Here's a working copy of the request in Postman 👇
https://www.getpostman.com/collections/e460f5997d62ec0733fb

[2020-11-06 11:54] vasanthdeveloper commented on #33
I hope, I didn't expose my API keys 😂

[2020-11-06 12:43] pbteja1998 commented on #33
This is working for me in both `postman`. But when tried to update it using this package, I am getting `{ statusCode: 431, data: '' }`, not 400.

[2020-11-06 13:44] Silind commented on #33
Alright, this is very helpful.
Thanks a lot. I'll be looking into this later today.

[2020-11-06 13:47] vasanthdeveloper commented on #33
Thank you 🙏 if this works out, I'll be so happy 😃 as I will open-source the project I've worked on for weeks now.

[2020-11-06 19:57] Silind commented on #33
@vasanthdeveloper @pbteja1998
Fixed in version 1.1.1 :raised_hands:
Thanks a lot for your help, guys!

[2020-11-07 05:08] Silind commented on #33
There's still an issue with a pending promise.
Reopening this issue to investigate.

[2020-11-07 05:22] #33 closed

[2020-11-07 05:23] Silind commented on #33
This is now solved in 1.2.0.
Also, I've changed to non-default export instead to resolve the problems with the require syntax.

[2020-11-07 05:29] vasanthdeveloper commented on #33
Even though the cover image is updated the `Promise` never resolves, thus blocking the execution flow when `await`ed.

In the below code 👇 the `console.log()` never executes.

[code]

[2020-11-07 20:43] teezzan opened #37 "Unable To Send Direct Message."
Thanks for your awesome work.

I have been unable to send direct messages while following the [reference document](https://github.com/Silind/twitter-api-client/blob/master/REFERENCES.md#twitterclientdirectmessagesdirectmessageseventsnewmessagecreateparameters).

Whenever I run
[code]
the library keeps returning `{ statusCode: 415, data: '' }`.

What am I doing wrong?

My current version is `"twitt

[2020-11-08 05:43] Silind commented on #37
Hi, @teezzan.
Thanks for creating this issue.

Your code looks correct, so it's likely to be a bug.
I'll look into this asap.

[2020-11-08 10:09] wobsoriano commented on #19
Using node v14.3.0 with require syntax, but still getting a not constructor error.

Instead of this

[code]

I have to do this

[code]

[2020-11-10 19:02] teezzan commented on #37
Thank you very much.

[2020-11-14 12:55] olivier-b-be commented on #3
Any news on this feature?

[2020-11-16 19:52] Silind commented on #3
This one and #7 are the next two big features we are gonna add.
I'll update this issue as soon as this airs :rocket:

[2020-11-17 12:27] j4p opened #39 "Need help retrieving media from DM"
Hi,
I just started making a Twitter bot.

Is there any way I can automatically retrieve media from DM and tweet them using this client?
I have managed to retrieve the URL. However, I am not authorized(?) to access it and I am not sure how to exactly do that.

My understanding is that I need to have access to it in order to be able to download it, get the raw binary or base64 encoding of it, and fi

[2020-11-27 03:49] SimonHoiberg commented on #39
Hi @j4p :wave:
Thank you for creating this issue.

Twitter has an unfortunate error response saying that you're not authorized, while in fact, it's like not to be the case.
Most likely there's a problem with how the encoding/decoding works internally.

It's a bug on our side - we will investigate :blush:

Thank you.

[2020-11-27 06:49] j4p commented on #39
Hi @SimonHoiberg
Thank you for your response!

Please do not worry too much since I believe this is not a bug in your code but rather simply an incompetence on my end.

First, allow me to explain to you the bot that I am trying to make.
Basically, the bot works by tweeting whatever is sent to it through the DM.
I made the bot with [Twitter Account Activity API](https://developer.twitter.com/en/doc

[2020-12-30 11:57] guillaumeLamanda opened #42 "GET lists/members need list parameters"
**Describe the bug**

The twitter endpoint [`/list/members`](https://developer.twitter.com/en/docs/twitter-api/v1/accounts-and-users/create-manage-lists/api-reference/get-lists-members) need list parameters but currently doesn't take any.

**To reproduce**
Steps to reproduce the behavior:
1. Install the latest Twitter client
2. Open a JS/TS file
3. Create a twitter client,
4. Call `client.accounts

[2021-01-03 19:04] #42 closed

[2021-01-07 18:06] lcswillems opened #45 "`directMessagesEventsNewMessageCreate` is not sending the good query"
This code:

[code]

sends this kind of request:

[code]

However, [the documentation](https://developer.twitter.com/en/docs/twitter-api/v1/direct-messages/sending-and-receiving/api-reference/new-event) says this:

But also that the body should be the following object:

[code]

I think there is an issue with the lib, isn't it?

[2021-01-08 03:34] SimonHoiberg commented on #45
Ahh, nice catch!
I'll look into this asap.

[2021-01-13 07:59] lcswillems commented on #37
It is because twitter-api-client doesn't send the correct request. I opened an issue for this: https://github.com/FeedHive/twitter-api-client/issues/45

[2021-01-13 09:09] teezzan commented on #37
Thanks. Hopefully a fix will be available soon.

[2021-01-17 14:37] shaun-hume opened #48 "Trend functionality not working as expected"
**Describe the bug**
When using the Trends api functions - the documentation appears to suggest that you need to pass through the WOEID, or IDs in general as integers into the functions, however if you pass in just the value, the URL is malformed:
https://api.twitter.com/1.1/trends/place.json?
instead of https://api.twitter.com/1.1/trends/place.json?id=1

**To reproduce**
Steps to reproduce the be

[2021-01-18 04:09] SimonHoiberg commented on #48
Thanks a lot for creating this issue.
I will investigate very soon.

[2021-01-18 09:01] shaun-hume commented on #48
All good Simon :) I've been using it more and I think I can see why you've done it this way - for some of the functions you need to push through multiple different parameters (eg. id, name, query, etc.)

If I read your documentation you can figure out what key you need to include, (eg. {id: idValue}). And as I've written this out I guess this is the way of implementing named parameters so you migh

[2021-01-19 13:29] SimonHoiberg commented on #48
Ahh, yes.
If you only refer to the fact that all parameters are given by name, like `{id: 1}`, then yes - that's a deliberate design choice 😁

Sorry, I missed step 4, where it actually runs successfully.
I will close this issue again.

[2021-01-19 13:29] #48 closed

[2021-01-30 07:02] #45 closed

[2021-01-30 07:02] #39 closed

[2021-01-30 07:03] SimonHoiberg commented on #37
Fixed in version 1.2.9

[2021-01-30 07:03] #37 closed

[2021-01-30 10:28] lcswillems commented on #45
Hi @SimonHoiberg , have you tested if it works now? Because, from the modifications, the content-type has changed but not the data sent to Twitter, which was also a problem.

[2021-01-31 06:52] SimonHoiberg commented on #45
Hi @lcswillems
Thank you for pointing this out.

I've given the whole direct-messages endpoints an overhaul.
This includes some breaking changes.

Please refer to this PR to see:
https://github.com/FeedHive/twitter-api-client/pull/53

But it works now 🙌

[2021-01-31 08:23] lcswillems commented on #45
Great!!! Thank you for this fix!

[2021-02-04 12:50] vasanthdeveloper opened #54 "How do I get to show source labels when tweeting?"
I currently see no source labels like "Twitter Web App" or "Twitter for iPhone" or "Twitter for Android". I would like to set a custom source label while tweeting, but I don't find any docs regarding it.

[2021-02-04 14:46] vasanthdeveloper opened #55 "401 On twitter.media.mediaUpload()"
**Describe the bug**
Below are the authentication requirements by Twitter for **`twitter.tweets.statusesUpdate()`** and **`twitter.media.mediaUpload()`** endpoints respectively 👇

![Screenshot 2021-02-04 at 8 01 57 PM](https://user-images.githubusercontent.com/24322511/106907223-0842a100-6724-11eb-9748-a454722f198a.png)

and

![Screenshot 2021-02-04 at 8 01 14 PM](https://user-images.githubusercon

[2021-02-07 14:22] SimonHoiberg commented on #55
Hi @vasanthdeveloper :wave:
Thanks for creating this issue.

The `mediaUpload` endpoint expects the `media` to be `base64` encoded.
So - without having tried your reproduction example yet - could you first try to do the following:

[code]

I have a feeling that will work.
Thank you.

[2021-02-07 15:23] vasanthdeveloper commented on #55
@SimonHoiberg Yup! that works 🥳  you're a genius! 🙌

[2021-02-07 15:23] #55 closed

[2021-02-07 15:24] vasanthdeveloper commented on #55
@SimonHoiberg It would be great if you make an example of chunked upload since that's tricky 🙂

[2021-02-11 19:58] Reprevise commented on #3
Any updates?

[2021-02-11 20:05] Keanu73 commented on #3
I also was avidly waiting for support for the streaming API, but I decided to take things into my own hands and do it the manual way. It's not perfect but you can have a look at how I did things here https://github.com/Keanu73/MarchyGuard/blob/main/src/modules/Twitter.ts

[2021-02-11 20:13] Reprevise commented on #3
Thanks, but I think for now I'll use `twitter-lite`.

[2021-02-12 05:42] SimonHoiberg commented on #3
I will try to allocate time to look into this very soon :+1:

[2021-02-13 08:35] SimonHoiberg commented on #54
Thanks! We'll take a look :+1:

[2021-02-16 06:21] zkanyi opened #57 "TwitterClient.accountsAndUsers.mutesUsersIds() returns array of numeric user ids truncated"
TwitterClient.accountsAndUsers.mutesUsersIds() returns an array of numeric numbers but those IDs are truncated.
example the id 11945829239131791**37** is truncated to 11945829239131791**00**

[2021-02-20 04:59] SimonHoiberg commented on #57
Nice catch, @zkanyi :+1:
We'll look into this, for sure!

[2021-02-22 03:22] carlitosz opened #58 "statuses/oembed support"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I was looking for support for the `statuses/oembed` endpoint but didn't find it listed in the available methods. I realized I needed this for one of my projects and I'd love it if you added support for this. I could write a quick script to do the job, but i'd rather use the client. Thank yo

[2021-02-22 04:50] SimonHoiberg commented on #58
Hi, @carlitosz.
Thank you for creating this issue.

We'll look into this as soon as possible :blush:

[2021-03-03 10:48] dvorsky opened #61 "Unable to instantiate TwitterClient without accessToken and accessTokenSecret"
**Describe the bug**
I wish to use the client to obtain users accessToken and accessTokenSecret, but when I attempt to instantiate the client without those values provided I receive the error "ACCESS TOKEN needs to be provided". Interface for TwitterClient options indicates that both accessToken and accessTokenSecret are optional parameters.

I'm wondering if this is expected behavior and I'm doin

[2021-03-09 22:17] alanzchen commented on #9
Could you add `full_text` to the type definitions?

[2021-03-12 08:39] SimonHoiberg commented on #61
Hi @dvorsky.
I'm sorry for the late response.

Yes, this is expected behavior.
You cannot instantiate the client without providing all sets of keys.

The first time you're instantiating the client (to obtain the tokens), you need to use the credentials provided when you create the app on the developer.twitter.com platform.

Now, after you instantiate with those, you can make a call to `oauthReques

[2021-03-14 10:02] #61 closed

[2021-03-18 02:29] paceaux commented on #7
I had started work on making a Version2 + version1 mashup of the Twitter API. I'd be happy to share code (I hit a wall with oAuth and ended up using your library).

[2021-03-21 07:32] aviNrich opened #62 "Getting the reply count with statusesUserTimeline"
Hi,
Is it possible somehow today to get the reply count when using the method: `await this.twitterClient.tweets.statusesUserTimeline();`

I know in the Twitter UI it apears in `.reply_count`.
Or maybe another request to get this item.

Thanks

[2021-03-21 09:12] SimonHoiberg commented on #62
Hi, @aviNrich

At this moment, it's not directly possible.
But there are a few workarounds.

Check out [this discussion](https://stackoverflow.com/questions/46823700/in-the-twitter-rest-api-is-it-possible-to-find-the-reply-count) on StackOverflow.

[2021-03-21 09:12] #62 closed

[2021-03-21 11:02] aviNrich commented on #62
@SimonHoiberg  thank you.
Correct me if I'm wrong metrics API is not supported in this lib correct?
if not, can I execute "free" authenticated requests to Twitter API? something like:
`twitterApCclient.http.get('/metrics/blabla')` this way I wont have to authenticate twice.

Thanks

[2021-03-21 11:04] SimonHoiberg commented on #62
Not at the moment, no.
But that's actually a nice suggestion for a feature :+1:
We'll look into supporting that!

[2021-03-23 15:39] slorber opened #63 "Unable to use chucked media upload / mediaUploadAppend: "Could not authenticate you""
**Describe the bug**

The chunked media upload is required to upload videos, but it seems impossible to use currently due to an auth failure.

Unable to authenticate on the 2nd / APPEND endpoint of the chunked media upload.

[code]

[code]

The first INIT call works, but the 2nd APPEND call fails.

It looks like a problem related to how the OAuth signature is handled for multipart uploads, accordi

[2021-03-23 15:41] slorber commented on #55
Couldn't make chunked upload work due to auth failures => https://github.com/FeedHive/twitter-api-client/issues/63

[2021-03-23 16:26] vasanthdeveloper commented on #63
I believe `media_data` and `command` fields are taken care by the library, so you wouldn't have to provide those...

[2021-03-23 20:14] slorber commented on #63
Media data is the data of the file, so if I don't provide it how would it work?

Not passing command lead to an error even for Init.

[2021-03-24 05:45] SimonHoiberg commented on #63
Hi @slorber
Twitter has some unfortunate error messages, because this one "Could not authenticate you." means that something is wrong with the encoding of your file in 90% of the cases. Most likely, it doesn't have anything to do with authentication.

We are using the chunked media uploads in FeedHive for both images, gifs, and video, so I know for a fact that it works.
But I can't tell why it's n

[2021-03-24 09:03] slorber commented on #63
Hi @SimonHoiberg

I'm not sure to understand what you mean here:
- is it a problem in the source video encoding?
- is it a problem not reading binary/base64 correctly?

I tried chunked upload using a .mp4 file I downloaded on your Feedhive twitter account, and also tried with a regular image, and it does not work for me.

I also believe that `fs.readFileSync(filepath)` reads binary correct and `fs

[2021-03-24 09:11] slorber commented on #63
For what it's worth, I'm able to upload the video using another lib. But I would prefer using one lib instead of 2 😅

[code]

[2021-03-24 09:18] slorber commented on #63
Any the exact same code with your lib fails, no matter how I try to provide the file data:

[code]

![image](https://user-images.githubusercontent.com/749374/112285100-39ead980-8c8a-11eb-9288-c80d7f851561.png)

Hope this will be helpful to debug the issue, in the meantime I'll just use 2 libs 😅

[2021-03-24 13:10] SimonHoiberg commented on #63
Thanks a lot, we'll take a look :blush:

[2021-03-26 02:12] YaakovDantas opened #66 "require"

[2021-03-26 02:12] #66 closed

[2021-03-26 10:17] SimonHoiberg commented on #7
We have started taking the first step in adding support for V2 endpoint.
You can now use the metrics endpoint from V2.

See more here:
https://github.com/FeedHive/twitter-api-client/pull/67

[2021-03-31 23:19] goleary commented on #7
Happy to see this is on your radar. We'd like to use the v2/search API as I've found it has better results than the v1.1 endpoint.

[2021-04-01 01:25] goleary commented on #7
If anyone else wants to use the v2 search endpoint alongside this client feel free to use [this one I put together](https://gist.github.com/goleary/0810370f9ad4a0f218b9d94efcb75c97).

[2021-04-01 15:40] alecejones-noodoe opened #69 "Access token and secret required for pre-access token OAuth 1.0 steps"
Hi there,

I'm attempting to implement the standard 3-leg sign-in process using OAuth 1. After I input the consumer api key and consumer secret, the next step is to request an OAuth token which I can later exchange for an access token.

However, browsing the source code of this project, I noticed that the class constructor automatically throws an error if the access token and access token secret a

[2021-04-01 18:13] SimonHoiberg commented on #69
Hi :blush:

This is actually not a bug.
This is what the Twitter API expects. When obtaining the access tokens, you need to initially use the ones you create from your developer portal.

See the explanation here:
https://github.com/FeedHive/twitter-api-client/issues/61

[2021-04-02 00:47] alecejones-noodoe commented on #69
Are you sure about this? I understand that it would make sense, since the request has to be signed (and that ostensibly requires oauth token + secret). However, Twitter API documents explicitly state that there are some flows where token secret would not be known ahead of time.

If you scroll to the section "Creating a Signing Key":

 https://developer.twitter.com/en/docs/authentication/oauth-1-0a

[2021-04-03 13:05] SimonHoiberg commented on #69
Cool, thanks a lot.
I'm gonna close this issue now, but please, you are very welcome to still report your findings back on this.
That would be greatly appreciated 🙏

[2021-04-03 13:05] #69 closed

[2021-04-06 16:09] alecejones-noodoe commented on #69
So, upon investigation, I have confirmed my initial suspicion that the POST /oauth/request_token endpoint does NOT require a token and secret. I was able to successfully fetch a token and secret basically like this:

`
    const consumer = new oauth.OAuth(
      "https://api.twitter.com/oauth/request_token",
      "https://api.twitter.com/oauth/access_token",
      "CONSUMER_KEY",
      "CONSUMER_

[2021-04-09 08:25] chhaymenghong commented on #3
@SimonHoiberg any updates on this ?

[2021-04-15 01:46] benjamin852 opened #70 "CORS Error"
**Describe the bug**
I am following the docs step by step and just trying to use the sample query which is laid out with the docs but I am receiving a CORS error on my query.

Hope someone can point me in the right direction as to what I am doing wrong.

**To reproduce**
I have a plain .js file which I was hoping to use in my utils and in here I have the code from the docs
[code]
I then reference

[2021-04-15 14:35] repraze opened #71 "tweets.statusesHomeTimeline uses wrong StatusesHomeTimeline return type"
**Describe the bug**
`client.tweets.statusesHomeTimeline({...})` returns a list of statuses from the current user timeline. The type should be a list of tweets like `Promise<StatusesHomeTimeline[]>` and not `Promise<StatusesHomeTimeline>`. The type given currently is a single tweet even if we get an array of statuses.

**To reproduce**
Steps to reproduce the behavior:
1. In a typescript project in

[2021-04-17 08:27] rishimohan commented on #70
@benjamin852 This is because Twitter API doesn't support CORS, in short Twitter doesn't allow requests made from browser. You'll have to setup a server to make requests, which is what I'm currently trying to figure out too.

[2021-04-21 18:18] SimonHoiberg commented on #70
Yes, as @rishimohan mentions: You cannot make requests to the Twitter API directly from the browser.
You will need to set up a NodeJS server or a lambda that can proxy the requests for you, and this server will be using the twitter-api-client.

Alternatively, you can look into using a CORS Proxy.
There are some free ones available, although, I wouldn't particularly recommend it.

But check out thi

[2021-04-21 18:18] #70 closed

[2021-04-21 18:26] SimonHoiberg commented on #71
Thanks a lot for the PR.
v. 1.3.8 is released 🚀

[2021-04-21 18:26] #71 closed

[2021-04-21 18:47] jankulma-turbine opened #74 "How to make calls using Bearer token?"
Hi,

Thanks for great lib!

There is endpoint to obtain bearer token, however I dont see in docs / code how to use it to make requests.

Is it supported?

[2021-05-01 14:45] robert-moore commented on #7
You're doing awesome work @SimonHoiberg . You have a patreon or something for this project we could help out with?

[2021-05-02 15:46] lilsweetkara opened #75 "Include an example on how to upload an image with a tweet"
Sorry about the noise and thank you for the library.
I need to publish tweets with images in them. The image is actually public and online -- however, my understanding is that the Twitter API requires you to upload the image with the API.
I am banging my head against the wall trying to make this happen.

**Are you able to give me some guidance on how publish a tweet with a photo?**

I believe this

[2021-05-05 12:56] vinliao opened #76 "Support for scheduling tweets"
I'd like to schedule tweets conveniently with this package.

Here's the docs https://developer.twitter.com/en/docs/twitter-ads-api/creatives/api-reference/scheduled-tweets#post-accounts-account-id-scheduled-tweets

**Describe alternatives you've considered**
I can call the endpoint directly with axios.

[2021-05-09 11:55] SimonHoiberg commented on #76
Well, this is exactly how we use this client with [FeedHive](https://feedhive.io) :smile:
But it's not really in the scope of the client.

FeedHive's API doesn't natively support a way of scheduling tweets.
So you would have to write a service yourself, that uses the Twitter API Client to post at a given time (using a CRON job or the like).

[2021-05-09 11:58] SimonHoiberg commented on #75
Hi, @lilsweetkara.
Thank you for creating this issue.

Twitter has covered this in their own [documentation](https://developer.twitter.com/en/docs/twitter-api/v1/media/upload-media/api-reference/post-media-upload) for the media upload endpoint.

But I agree, it can be a bit tedious the first time you have to set it up.

We are going to include a method in the library that'll handle uploading, chuc

[2021-05-09 11:58] #75 closed

[2021-05-09 11:59] SimonHoiberg commented on #74
Hi @jankulma-turbine.

Currently, this is not supported - but it's something we're planning on adding soon.
If you only need to read from the public parts of Twitter, you can simply provide the credentials you create directly from the Twitter Developer account.

Otherwise, you'll have to go through the 3-legged OAuth flow to obtain the credentials :blush:

I'll close this issue for now, and we wil

[2021-05-09 11:59] #74 closed

[2021-05-09 12:01] lilsweetkara commented on #75
No worries, thank you!

On Sun, 9 May 2021 at 19:58, Simon Høiberg ***@***.***> wrote:

[2021-05-12 11:18] alii opened #77 "Deno Support"
**Is your feature request related to a problem? Please describe.**
By far this is the best API client for Twitter. It would be fantastic if it could be ported to Deno, too!

**Describe the solution you'd like**
To support twitter-api-client as a Deno module

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2021-06-02 04:45] cjativa opened #78 "`oauth_token` is a required parameter for the access_token endpoint"
**Describe the bug**
There's a bug in what the `basics.oauthAccessToken(...)` method accepts in its parameters object.

Right now, it only accepts the an object containing the field `oauth_verifier`.

However, in order to successfully to return a valid access token, both the `oauth_verifier` and `oauth_token` (where the request token is the value for `oauth_token`) need to be passed. Per the docs

[2021-06-13 10:21] dracorlll opened #79 "Parameters for TwitterClient.directMessages.eventsNew method is not clear in documentation"
Hi, I think there was a typo in that part.

https://github.com/FeedHive/twitter-api-client/blob/main/REFERENCES.md#description-90

[2021-06-13 12:39] SimonHoiberg commented on #79
Hi, @dracorlll.

Ahh, yes! I see - something looks a bit off there.
Thanks a lot for pointing it out - we'll take a look :smile:

[2021-06-22 07:30] ShivamJoker commented on #3
@SimonHoiberg it's been more than 10 months :(
It would be really great to have that

[2021-07-07 15:52] mort3za commented on #78
I have the exact same problem, could you find a solution?

[2021-07-16 01:30] selbstmord opened #80 "Can you edit your biography?"
I was wondering how you can edit your Name, Username etc, not just profile picture or banner.

[2021-07-19 15:45] TotomiEcio commented on #7
Hi! Have developed the hide replies endpoint from V2?

[2021-08-06 17:24] andresogando opened #81 "how to only authenticate a request?"
Hey how can I use this library to only generate an oauth1.0 authentication in order to perform a request using another library like 'Axios'..

for example:
I want to perform this request: https://developer.twitter.com/en/docs/twitter-api/v1/direct-messages/message-attachments/guides/retrieving-media

but using 'oauth.get()  doesn't work for me.

*** what do I want?/ need? ***

fetch('media_url', {

[2021-08-17 18:08] TotomiEcio commented on #63
Hi! I'm still having the same issues with the APPEND request. Have you made any progress?

[2021-09-14 10:10] allstargaurav commented on #79
Any update on this issue?

[2021-10-15 01:31] goleary opened #83 "StatusesHomeTimeline type missing retweeted_status property"
The objects returned by `client.tweets.statusesHomeTimeline(...)` have an optional property `retweeted_status` that is left out of the types.

[2021-10-15 01:39] goleary commented on #83
I'd submit a PR to update the types, but looks like this client is generated in a way that I'm not familiar with.

This is the modification I'd make if there were a type file to modify in this repo:
[code]
Happy to make the change and submit a PR if you point me in the right direction @SimonHoiberg

[2021-12-16 15:56] #83 closed

[2021-12-29 07:21] DoUWant2DevApp commented on #9
Could anyone also add the tweet_mode parameter to the method `twitterClient.accountsAndUsers.listsStatuses` ?

I tried forking the project and doing this myself, but I'm currently troubleshooting errors trying to get the "generate" and "build" commands to work (having made no changes to any code)... therefore, at least until I figure out these issues, I can't follow the proper contribution guideli

[2022-01-03 07:56] jucasoliveira commented on #63
I had an issue too, then I saw the `sement_index` to be passing a `number`, It must be a `string`

[code]

@slorber code helped me, thanks!

[2022-01-10 15:12] aditodkar commented on #63
Instead directly using image url and encoding it. I tried one more thing. First I downloaded the image/video using one node script:
[code]
And once the image is downloaded I mentioned same file path to above twitterClient node script and I was successfully able to generate media id for it. One thing I am not able to understand is this issue specific to twitter or twiiter-api-client package or am I

[2022-01-24 13:02] vsnthdev commented on #54
The source labels get automatically updated after an hour or so.

[2022-03-17 07:32] baumannzone opened #100 "403 on twitter.accountsAndUsers.accountUpdateProfileBanner()"
**Describe the bug**
I'm trying to update the Twitter banner of my user. I've created and tested with both v1 and v2 applications in the developer portal.

Here is my code:

[code]

**To reproduce**
Steps to reproduce the behaviour:
- Create a new `TwitterClient` instance
- Get the last 3 followers (just for testing the client works)
- Read with `fs` an image (base64)
- Get an error when trying to

[2022-03-17 18:13] #100 closed

[2022-03-26 22:44] lostfictions commented on #78
Just encountered this as well.

@mort3za As noted in the issue, this is solely a typings problem -- if you provide the `oauth_token` parameter it'll get passed through correctly and the call should work. TypeScript users can just annotate the function parameter with an `as any` for now, but it's confusing and definitely not ideal.

[2022-03-27 00:00] lostfictions opened #101 "Many methods won't work correctly without `stringify_ids` set to true"
**Describe the bug**

Hey there, thanks for this library! Unfortunately I'm experiencing quite a few footguns while trying to use it. I understand that it's trying to be a fairly close mapping to the Twitter API, but in my opinion some parameters should be set by default, or else package consumes are going to experience strange, confusing errors.

Case in point: several methods get a list of user

[2022-03-27 00:02] lostfictions commented on #101
Relates to #57.

[2022-03-27 00:16] lostfictions opened #102 "twitter-api-client should throw `Error`s, not objects"
**Describe the bug**

Hi again, here's another serious issue I've encountered with this library, When I was experiencing the problem described #101 -- confusing 404 errors from the API due to non-string user IDs -- I was having a lot of trouble debugging which `twitter-api-client` method calls were actually failing. This is because this package appears to throw arbitrary objects rather than `Error

[2022-03-27 00:24] lostfictions opened #103 "`accountsAndUsers.friendshipsNoRetweetsIds()` returns Promise<unknown>"
**Describe the bug**

Hi again, another quick bug. `accountsAndUsers.friendshipsNoRetweetsIds()` returns `Promise<unknown>`, but the actual return type appears to be `Promise<number[]>` (if `stringify_ids` is `false` or omitted, which as noted in #101 should not be the case IMO), or `Promise<string[]>` (if `stringify_ids` is `true`).

**To reproduce**

1.  `const ids = await client.accountsAndUser

[2022-04-23 22:14] bdmariobd commented on #102
Yes, its annoying...
My logs are like
`error twittiado:[object Object]`

[2022-06-29 15:52] ludovicoloreti opened #105 "Cannot use tweetsV2.searchAllTweets"
**Description**
I see that is possible to use `tweetsV2.searchAllTweets`. But when I try, it gives me this error:
[code]

**To reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Package Manager:**
To install Twitter API Client, I used... (npm / yarn / something else)

**Additional context**
Add any other context about the problem here.

[2022-07-23 03:13] platform-kit commented on #75
@SimonHoiberg any update on the aforementioned method?

[2022-08-12 18:31] imentoyt opened #107 "Using OAuth 2.0 as authorization to log in."
Description:
Hello, in my application I can only get access tokens (OAuth 2.0), when I set accessToken without apiKey it says that apiKey is required.

Ideal solution:
An option to set the authorization as OAuth 2.0 when creating the client or be able to only set accessToken.
`const twitterClient = new TwitterClient({
        accessToken: '',
});`
or
`const twitterClient = new TwitterClient({

[2022-09-28 10:35] jesusdra opened #109 "Installation twitter-api-client"
I have installed the library in my vue 3 project, when importing it I get the following errors:

" ERROR  Failed to compile with 5 errors                                                                                                                                                                 12:32:51

 error  in ./node_modules/oauth/lib/oauth.js

Module not found: Error: Can't resolve 'crypto

[2022-10-05 23:44] publikphigor commented on #70
I am facing this issue at the moment too. I already built the front-end of my app and setup this library already only for me to get the CORS error.

I need some help editing the URL the request is made with so I can prefix the proxy (not sure this is how it works).

[2022-11-19 16:12] #107 closed